.upload-img {

}

.upload-img-fillContainer {
	background: #fff;
	/*display: inline-block;*/
}

.upload-img-fillContainer > img {
	border-radius: inherit;
}

.upload-img-coverContainer {
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}